@media screen and (max-width: 414px) {
  .desktop {
    display: none;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 17px;
  }
  p {
    font-size: 17px;
  }
}
@media screen and (min-width: 415px) {
  .mobile {
    display: none;
  }
}

.mobile ul {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: black;
  border-radius: 25px;
  margin-left: 16px;
  margin-right: 16px;
}
.mobile ul li {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  padding-left: 8px;
}
a {
  color: white;
}
a:link,
a:visited {
  color: #eeee;
}
.mobile {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  margin-top: 16px;
}
.logo {
  margin-top: 8px;
}

.mobile .form-inline {
  border: 2px solid red;
}
